
<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-xs-6 col-md-3">
        <%= link_to(user) do %>
            <div class="thumbnail user">
            <p><%= user.first_name %>  </p>
            <%= image_tag user.image, style: "max-height:165px" %>
          <% end %>
        </div>
      </div>
    <%end%>
  </div>
  <br>
  <h3>Join</h3>
  <a href="/users/new">Create new account</a>
</div>
