<h1 class="user-heading">User</h1>
<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-xs-3">
        <%= link_to(user) do %>
        <div class="thumbnail">


          <p><%= user.name %>  </p>
          <img src="<%= user.image %>" />
        </div>
        <% end %>
      </div>
    <%end%>
  </div>
</div>
