
<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-xs-6 col-md-3">
        <%= link_to(user) do %>
            <div class="thumbnail user">
            <p><%= user.username %>  </p>
            <%= image_tag user.image, alt: "Image for user##{user.id}" %>
          <% end %>
        </div>
      </div>
    <%end%>
  </div>
  <br>
</div>
