<% flash.each do |name, message| %>
  <% case name %>
    <% when "requested_url" %>
    <% else %>
      <div class="flash-messages">
          <div class="alert alert-<%= name %>">
            <%= message %>
          </div>
      </div>
  <% end %>
<% end %>
