<div class="flash-messages">
  <% if flash.any? %>
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %>">
        <%= message %>
      </div>
    <% end %>
  <% end %>
</div>
