<%= stylesheet_link_tag 'nonincluded/welcome', media: 'all', 'data-turbolinks-track' => true %>
<div class="jumbotron welcome-page">

  <h1 class="jumbotron-header">GoodAct is the place to change</h1>
</div>

<div class="header">
  <div class="container">
    <div class="row">
      <h2 class="col-xs-10 offer-heading">Offers</h2>
      <% if current_user %>
      <div class="col-xs-2 new-offer-link">
      <%= link_to "Create Offer", new_offer_path, class: "pull-right btn-primary btn" %>
      </div>
      <% end %>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <%= render @offers %>
  </div>
</div>
