.flash-messages {
  position: absolute;
  width: 100%;
}

.welcome-page {
  background-image: image-url('maya/38');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 44em;
}

.jumbotron-header {
  position: relative;
  text-align: center;
  top: 25%;
}
