<div class="col-md-3">
        <%= link_to(search) do %>
          <div class="thumbnail search" style="background-image: url(<%= asset_path(search.image) %>)">
            <p><%= search.description %></p>
          </div>
        <% end %>
</div>
