
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <%= image_tag @offer.image, class: "col-md-6 col-xs-12"%>
      <div class="col-md-6">
        <p>
          <%= @offer.description %>
        </p>
         <%= link_to @offer.user.name, @offer.user, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
