
body {
  padding-top: 70px;
}

.flash-messages, .error-explanation {

  margin-top: -20px;
}


.thumbnail {
  &.offer, &.search {
    height: 200px;
    background-position: center;
    background-size: cover;

    p {
      color: rgb(70, 70, 70);
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}
