.bg-faded {
  background: rgba(255, 255, 255, 1);
}
.navbar-toggle .icon-bar {
    background-color: grey;
}
.navbar {
  border-bottom: grey solid 1px;
  // background-color: white;

}

.navbar .navbar-collapse {
  margin-right: 1rem;
}

.navbar .button_to {
  padding: 8px;
}
