// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.offer-heading {
  color: grey;
}

// h1.offer-heading {
//   text-align: center;
// }
.new-offer-link {
  margin: 20px auto;
}

.offered-by {
  font-size: 60%;
}
