// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.offer-heading {
  color: grey;
}
html {
  background-image: url('geo/12.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-color: transparent;
}

// h1.offer-heading {
//   text-align: center;
// }
