// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.user-heading {
 text-align: center;
}
.thumbnail {
  overflow: auto;
  width: 270px;
  height: 240px;
}
