// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-form {
  margin-top: 10px;
}

.signup-error.alert {
  margin-bottom: 0;
}

// Used in users#index view
@media (min-width:768px) {
  .thumbnail.user a > img {
    height: 165px;
    size: cover;
    width: auto;
  }
}

// Used in users#show
.offers-link {
  float: left;
}

.searches-link {
  float: right;
}
