// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumbnail.user {

  overflow: auto;

  height: 260px;
}
.offers_link {
  float: left;
}

.searches_link {
  float: right;
}
